{% extends 'admin/base.html.twig' %}

{% block title %}Détails du livre
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">

	<div class="container">
		<h1>Détails du livre</h1>
		{% if livre.image %}
			<img src="{{ livre.image|book_image_url }}" alt="{{ livre.titre }}" class="d-block mb-3" style="width: 100%; max-height: 420px; object-fit: cover;">
		{% endif %}
		<table class="table">
			<tbody>
				<tr>
					<th>Titre</th>
					<td>{{ livre.titre }}</td>
				</tr>
				<tr>
					<th>Editeur</th>
					<td>{{ livre.editeur }}</td>
				</tr>
				<tr>
					<th>Date Edition</th>
					<td>{{ livre.dateEdition|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ livre.prix }}</td>
				</tr>


			</tbody>
		</table>

		<a href="{{ path('app_livres_all') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
	</div>
{% endblock %}
